@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Work Sans", sans-serif;
}
:root {
    --bg-color: rgba(255, 144, 14, 0.1);
    --btn-bg: #FF900E;
    --dark-1: #131313;
    --dark-2: #424242;
    --dark-3: #727272;
    --color-white: #ffffff;
}
img{
    width: 100%;
}
.d-flex{
    display: flex;
}
.container {
    width: 100%;
    max-width: 85%;
    margin-inline: auto;
    /* border: 1px solid; */
}
.btn-parymary {
    color: var(--color-white);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    outline: none;
    border: none;
    padding: 20px 25px;
    background: var(--btn-bg);
    border-radius: 8px;
    cursor: pointer;
}
.btn{
    justify-content: center;
}
.section{
    background: var(--color-white);
    margin-top: 100px;
}
 /*Header Nav Bar  */
.header {
    background: var(--bg-color);
}
.logo{
    width: 100px;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
    padding-block: 8px;
    /* border: 1px solid; */
}
.nav-link li{
    margin-right: 30px;
    cursor: pointer;
}
.nav-link li:nth-last-child(1){
    margin-right: 0;
}
.nav-item a{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-2);
    font-weight: 500;
}
 /*Header Banner section  */
 .banner {
  justify-content: center;
  margin-bottom: 70px;
 }
 .header-content {
      width: 800px; 
 }
.header-title {
    color: var(--dark-1);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    padding-block: 50px 20px;
    text-align: center;
}
.header-desc, .card-desc {
    color: var(--dark-2);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.header-desc{
    text-align: center;
    margin-bottom: 35px;
}
.banner-img{
    margin-bottom: 30px;
}

    /* Our feture section  */
.our-feature{
    justify-content: center;
    align-items: center;
}
.our-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-img img{
    width: 342px;
    height: 342px;
}
.our-text {
    margin-left: 50px;
    padding-right: 100px;
}
.title, .fact-number  {

    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
}
.title{
    text-align: left; 
    width: 60%;
}  
.card-desc{
    text-align: left;
    margin-top: 10px;
    width: 650px;
}
.our-text, .our-img {
    width: 50%;
}
.text-gray {
    color: var(--dark-3);
}
.text-bg{
    color: var(--btn-bg);
}

/* About section  */

.card, .card-img {
    width: 50%;
}
.card {
    padding-top: 50px;
}
.text-border {
    border-left: 5px solid #FF900E;
    padding-left: 26px;
}
.card-box {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.card-title{
    color: var(--dark-1);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}
.card-img{
    margin-left: 150px;
}
.exparen-bagch{
    padding: 40px 45px;
    margin-top: -120px;
    margin-left: -100px;
}
.year-text{
    color: var(--color-white);
    font-size: 4rem;
    font-weight: 700;
}
.excper-text{
    font-size: 1.8rem;
    font-weight: 500;  
}
/* Some fact-care  */
.fect-container{
    justify-content: space-between;
    margin-top: 100px;
}
.box {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box img {
    width: 45px;
    height: 45px;
}
.fact-number {
    text-align: center;
    margin-block: 10px;
}
/* Our Sponspors section start  */
.sponcer {
    justify-content: space-between;
    align-items: center;
    margin-block: 60px 100px;

}
/* Footer section  */
#footer-text {
    color: var(--dark-2);
    background: var(--bg-color);
    padding: 40px 400px;
    text-align: center;
    border-radius: 8px;
}